*~
logs
*.log
project/build.properties
project/project/project
project/project/target
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/data/
/target
/.target/
eclipse.sbt
/bin/
/bin
.cache-main
.cache
.directory
.settings/
eclipse.sbt
